{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Title</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"0>
</head>
<body>

{% include 'menu.html' %}

<h1>Bienvenue {{ request.user.username }} !<br/>
    Vous êtes connecté
</h1>


<ul>
  <li>Regression : scatter, heatmap, lineplot, boite à moustache / linear reg, knn, arbre </li>
  <li>Classsification : scatter, heatmap, barplot, piechart / logistic, arbre, knn</li>
  <li>Clustering : scatter, heatmap, barplot, piechart, ternaryplot, Clustergram / kmeans, CAH, Dbscan</li>
</ul>

<form method="post">
  {% csrf_token %}
  <input type="file">
  <input type="submit">
</form>
<div class="row">
    <div class="col-xs-12">
      Résultat du clustering DBScan :<br>
      <ul>
        <li>n_clusters_ : {{ n_clusters_}}</li>
        <li>n_noise_ : {{n_noise_}}</li>
        <li>Homogeneity : {{Homogeneity}}</li>
      </ul>
    </div>
  </div>

<button data-toggle="collapse" data-target="#demo" class="btn btn-primary">Afficher/cacher les graphiques</button>
<div id="demo" class="collapse">
  <div class="row">
    <div class="col-sm-6">
      {% autoescape off %}
        {{ graphique }}
      {% endautoescape %}
    </div>

    <div class="col-sm-6">
      {% autoescape off %}
        {{ graph2 }}
      {% endautoescape %}
    </div>

    <div class="col-sm-6">
      {% autoescape off %}
        {{ graph3 }}
      {% endautoescape %}
    </div>

    <div class="col-sm-6">
      {% autoescape off %}
        {{ graph4 }}
      {% endautoescape %}
    </div>
  </div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Suppression de compte</h4>
        </div>
        <div class="modal-body">
          <p>Es-tu sûr de vouloir supprimer ton compte ?</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'suppression' user.id %}">
                <button type="button" class="btn btn-danger">Valider</button>
            </a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        </div>
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>